<div class = "container">
    <div class="row">
        <div class="col-md-3">
        <ul class = "list-group">
            <li class = "list-group-item">
            類別
                <ul class = "list-group">
                    <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                </ul>
            </li>
            <li class = "list-group-item">
            類別
                <ul class = "list-group">
                    <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                     <li class = "list-group-item">
                    副類別
                    </li>
                </ul>
            </li>
        </ul>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
            <div class="jumbotron">
            <h1 class="display-4"><%= @ad[:title]%></h1>
            <p class="lead"><%= @ad[:des]%></p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button"><%= @ad[:action_title]%></a>
            </div>
            </div>
            <div class = "row">
                <% @products.each_with_index do |product, index| %>
                    <div class = "col-md-3">
                    <div class="card">
                    <%= image_tag product[:image_url],class:"card-img-top" %>
                    <div class="card-body">
                        <h5 class="card-title"><%= "#{index}. #{product[:name]}"%></h5>
                        <p class="card-text"><%= product[:description]%></p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>