<!DOCTYPE html>
<html>
  <head>
    <title>Testproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div>
  <%= link_to "<h1 class = 'title'>hi hi new test</h1>".html_safe, root_path%>
<%= link_to "First", first_path%>
<%= link_to "Second", second_path%>
  </div>
    <%= yield %>
  </body>
</html>
