<!DOCTYPE html>
<html>
  <head>
    <title>Testproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div>
  <%= link_to root_path do%>
    <h1 class = 'title'>hi hi new test</h1>
  <% end %>
<%= link_to "First", first_path%>
<%= link_to "Second", second_path%>
<%= link_to "Posts/1", controller: :home, action: :show_post, id: 1 %>
<div>
<%= @testName%>
</div>
  </div>
    <%= yield %>
  </body>
</html>
